# Logs
/backend/logs
/backend/*.log
/backend/npm-debug.log*

# Dependency directory
/backend/node_modules

# Optional npm cache directory
/backend/.npm

# System files and IDE settings folders
/backend/.DS_Store
/backend/.idea
/backend/.vscode