.access__button {
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 2px;
    border: none;
    height: 50px;
    font-size: 18px;
    line-height: 1.21;
    font-weight: 400; 
    margin-top: 203px;   
}

.access__button:hover {
    opacity: 0.8;
  }